{% extends 'layout/master.html.twig' %}

{% block title %}
    {{ category.title }} :: {{ parent() }}
{% endblock %}

{% block body %}

    <boson-breadcrumbs>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('blog.index') }}">Blog</a>
        <span>{{ category.title }}</span>
    </boson-breadcrumbs>

    <h1>&laquo{{ category.title }}&raquo; blog posts</h1>

    <div style="display: grid; grid-template-columns: 2fr 1fr;">
        <section>
            {% include 'page/blog/partial/articles_list.html.twig' with {
                articles: articles
            } %}

            <footer style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <span>
                    {% if page > 1 %}
                        <a style="float: left" href="{{ path('blog.index_by_category', {
                            page: 1,
                            slug: category.uri
                        }) }}">&lt;&lt; first page</a>

                        <a style="float: left; margin-left: 16px;" href="{{ path('blog.index_by_category', {
                            page: page - 1,
                            slug: category.uri
                        }) }}">&lt; newest posts</a>
                    {% endif %}
                </span>

                <span style="text-align: center">{{ page }} of {{ articles.pages }}</span>

                <span>
                    {% if page < articles.pages %}
                        <a style="float: right" href="{{ path('blog.index_by_category', {
                            page: articles.pages,
                            slug: category.uri
                        }) }}">last page &gt;&gt;</a>

                        <a style="float: right; margin-right: 16px;" href="{{ path('blog.index_by_category', {
                            page: page + 1,
                            slug: category.uri
                        }) }}">older posts &gt;</a>
                    {% endif %}
                </span>
            </footer>
        </section>

        {% include 'page/blog/partial/categories_list.html.twig' with {
            categories: categories,
            category: category
        } %}
    </div>

{% endblock %}
