{% extends 'layout/master.html.twig' %}

{% block title %}
    {{ article.title }} :: {{ parent() }}
{% endblock %}

{% block body %}

    <boson-breadcrumbs>
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('blog.index') }}">Blog</a>
        <a href="{{ path('blog.index_by_category', {slug: category.uri}) }}">{{ category.title }}</a>
        <span>{{ article.title }}</span>
    </boson-breadcrumbs>

    <h1>{{ article.title }}</h1>

    <div style="padding: 20px 0; display: grid; grid-template-columns: 2fr 1fr;">

        <section>
            <article>
                {{ article.content | raw }}
            </article>
        </section>

        {% include 'page/blog/partial/categories_list.html.twig' with {
            categories: categories
        } %}
    </div>

{% endblock %}
