{% extends 'layout/master.html.twig' %}

{% block title %}
    {{ article.title }} :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>

    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('blog.index') }}">Blog</a></li>
            <li><a href="{{ path('blog.index_by_category', {slug: article.category.slug}) }}">{{ article.category.title }}</a></li>
            <li>{{ article.title }}</li>
        </ul>
    </nav>

    <div style="padding: 20px 0; display: grid; grid-template-columns: 2fr 1fr;">
        <section>
            {{ article.content | raw }}
        </section>
        {% include 'page/blog/partial/categories_list.html.twig' with {categories: categories} %}
    </div>

{% endblock %}
