{% extends 'layout/master.html.twig' %}

{% block title %}
    {{ article.title }} :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li>&rarr;</li>
            <li><a href="{{ path('blog.index') }}">Blog</a> </li>
            <li>&rarr;</li>
            <li>{{ article.title }}</li>
        </ul>
    </nav>

    <div style="padding: 20px 0">
        {{ article.content | raw }}
    </div>

{% endblock %}
