<boson-header-dropdown href="{{ path('doc.index') }}">
    <span slot="summary">
        {% if app.current_route == 'doc.index_by_version' or app.current_route == 'doc.index' %}
            <span>
                Documentation ({{ version.name }})
            </span>
        {% else %}
            <a href="{{ path('doc.index_by_version', { version: version.name }) }}">
                Documentation ({{ version.name }})
            </a>
         {% endif %}
    </span>

    {% if page is defined %}

        {% for dev in versions.dev %}
            <a href="{{ path('doc.show', { page: page.uri, version: dev.name }) }}">
                {{ dev.name }} (dev)
            </a>
        {% endfor %}

        {% for stable in versions.stable %}
            <a href="{{ path('doc.show', { page: page.uri, version: stable.name }) }}">
                {{ stable.name }}
            </a>
        {% endfor %}

        {% if versions.deprecated|length > 0 %}
            <strong>Unmaintained Versions</strong>
        {% endif %}

        {% for deprecated in versions.deprecated %}
            <a href="{{ path('doc.show', { page: page.uri, version: deprecated.name }) }}">
                {{ deprecated.name }}
            </a>
        {% endfor %}

    {% else %}

        {% for dev in versions.dev %}
            <a href="{{ path('doc.index_by_version', { version: dev.name }) }}">
                {{ dev.name }} (dev)
            </a>
        {% endfor %}

        {% for stable in versions.stable %}
            <a href="{{ path('doc.index_by_version', { version: stable.name }) }}">
                {{ stable.name }}
            </a>
        {% endfor %}

        {% if versions.deprecated|length > 0 %}
            <strong>Unmaintained Versions</strong>
        {% endif %}

        {% for deprecated in versions.deprecated %}
            <a href="{{ path('doc.index_by_version', { version: deprecated.name }) }}">
                {{ deprecated.name }}
            </a>
        {% endfor %}

    {% endif %}





</boson-header-dropdown>
