{% extends 'layout/master.html.twig' %}

{% block title %}
    Search :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Search</h1>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li style="color: #5d6b89">&gt;</li>
            <li>Boson Search</li>
        </ul>
    </nav>

    <form method="get" action="{{ path('search.index') }}">
        <input
            type="search"
            name="q"
            value="{{ app.request.get('q') }}"
            placeholder="Search"
            aria-label="Search"
        />
    </form>

    <section>
        {% for item in results %}
            <article>
                <hgroup>
                    <h2>
                        <a href="{{ path('doc.show', {
                            version: version,
                            page: item.uri,
                        }) }}">{{ item.title }}</a>
                    </h2>
                    <p style="padding-top: 20px;">
                        {{ item.content | striptags | u.truncate(256, '...') }}
                    </p>
                </hgroup>
            </article>
        {% else %}
            <hgroup>
                <h1>No results</h1>
                <p style="padding-top: 20px;">Try making your query more generic!</p>
            </hgroup>
        {% endfor %}
    </section>

{% endblock %}
