{% extends 'layout/master.html.twig' %}

{% block title %}
    Documentation :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Documentation</h1>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li style="color: #5d6b89">&gt;</li>
            <li>
                <details class="dropdown">
                    <summary role="button" class="outline secondary">
                        Documentation ({{ version.name }})
                    </summary>
                    <ul>
                        {% for devVersion in versions.dev %}
                            <li>
                                <a href="{{ path('doc.index_by_version', {
                                    version: devVersion.name
                                }) }}">
                                    {{ devVersion.name }} (dev)
                                </a>
                            </li>
                        {% endfor %}

                        {% for availableVersion in versions.stable %}
                            <li>
                                <a href="{{ path('doc.index_by_version', {
                                    version: availableVersion.name
                                }) }}">
                                    {{ availableVersion.name }}
                                </a>
                            </li>
                        {% endfor %}

                        <li>
                            <strong>Unmaintained Versions</strong>
                        </li>

                        {% for deprecatedVersion in versions.deprecated %}
                            <li>
                                <a href="{{ path('doc.index_by_version', {
                                    version: deprecatedVersion.name
                                }) }}">{{ deprecatedVersion.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
        </ul>
    </nav>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;" class="grid">
        {% for category in categories %}
        <article>
            <hgroup>
                <h2>
                    {% if category.icon is not null %}
                        <img src="{{ category.icon }}" style="height: 1.75rem" />
                    {% endif %}
                    {{ category.title }}
                </h2>
                {% if category.description is not null %}
                <p>
                    {{ category.description }}
                </p>
                {% endif %}
            </hgroup>
            <ul>
                {% for page in category.pages %}
                <li>
                    {% if page.isLink %}
                        <a href="{{ page.uri }}" target="_blank">
                            {{ page.title }}
                            <img src="https://intellij-icons.jetbrains.design/icons/AllIcons/expui/ide/externalLink_dark.svg"
                                 width="18" height="18" />
                        </a>
                    {% else %}
                        <a href="{{ path('doc.show', {
                            page: page.uri,
                            version: version.name
                        }) }}">
                            {{ page.title }}
                        </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
    </div>

{% endblock %}
