{% extends 'layout/master.html.twig' %}

{% block title %}
    Documentation :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Documentation</h1>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li style="color: #5d6b89">&gt;</li>
            <li>
                <details class="dropdown">
                    <summary role="button" class="outline secondary">
                        Documentation ({{ version.name }})
                    </summary>
                    <ul>
                        {% for ver in versions %}
                            {% if ver.status.value != 'deprecated' %}
                                <li>
                                    <a href="{{ path('doc.index_by_version', {
                                        version: ver.name
                                    }) }}">{{ ver.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li>
                            <strong>Unmaintained Versions</strong>
                        </li>

                        {% for ver in versions %}
                            {% if ver.status.value == 'deprecated' %}
                            <li>
                                <a href="{{ path('doc.index_by_version', {
                                    version: ver.name
                                }) }}">{{ ver.name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </details>
            </li>
        </ul>
    </nav>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;" class="grid">
        {% for item in categories %}
        <article>
            <h2>{{ item.title }}</h2>
            <ul>
                {% for ref in item.pages %}
                <li>
                    <a href="{{ path('doc.show', {
                        page: ref.uri,
                        version: version.name
                    }) }}">
                        {{ ref.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
    </div>

{% endblock %}
