{% extends 'layout/master.html.twig' %}

{% block title %}
    Documentation :: {{ parent() }}
{% endblock %}

{% block body %}


    <boson-breadcrumbs>
        <a href="{{ path('home') }}">Home</a>

        {% include 'page/docs/partials/version_selector.html.twig' with {
            version: version,
            versions: versions,
        } %}

        <span>
            {% if category.icon is not null %}
                <img width="18" height="18"
                     src="{{ category.icon }}" />
            {% endif %}
            {% if category.description is not null %}
                <span data-tooltip="{{ category.description }}">{{ category.title }}</span>
            {% else %}
                <span>{{ category.title }}</span>
            {% endif %}
        </span>
    </boson-breadcrumbs>

    <h1>{{ category.title }}</h1>

    <style>
        .external-link::after {
            content: '🔗';
            text-decoration: none;
            font-size: 12px;
            margin-left: 5px;
            position: relative;
            top: -4px
        }
    </style>

    <div style="display: grid; grid-template-columns: 1fr 3fr;" class="grid">
        <aside>
            <ul style="padding-inline-start: 0">
            {% for nav_page in category.pages %}
                <li>
                    {% if page.uri == nav_page.uri %}
                        <strong>{{ nav_page.title }}</strong>
                    {% else %}
                        {% if nav_page.type.name == 'Link' %}
                            <a href="{{ nav_page.uri }}" target="_blank">
                                {{ nav_page.title }}
                                <img src="https://intellij-icons.jetbrains.design/icons/AllIcons/expui/ide/externalLink_dark.svg"
                                     width="18" height="18" />
                                &nbsp;
                            </a>
                        {% else %}
                            <a href="{{ path('doc.show', {
                                page: nav_page.uri,
                                version: version.name
                            }) }}">
                                {{ nav_page.title }}
                            </a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            <h4>Other Categories</h4>
            <ul style="padding-inline-start: 0">
                {% for nav_category in version.categories %}
                    <li style="white-space: nowrap">
                        <a href="{{ path('doc.show', {
                            page: nav_category.page.uri,
                            version: version.name
                        }) }}">
                            {% if nav_category.icon is not null %}
                                <img src="{{ nav_category.icon }}"
                                     width="16" height="16" />
                            {% endif %}
                            {{ nav_category.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <section>
            <h1>{{ page.title }}</h1>
            <article>
                {{ page.content | replace({ '%25version%25': version.name }) | raw }}
            </article>
        </section>
    </div>

{% endblock %}
