{% extends 'layout/master.html.twig' %}

{% block title %}
    Documentation :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Documentation</h1>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li style="color: #5d6b89">&gt;</li>
            <li>
                <details class="dropdown">
                    <summary role="button" class="outline secondary">
                        <a href="{{ path('doc.index') }}">Documentation ({{ version.name }})</a>
                    </summary>
                    <ul>
                        {% for availableVersion in versions %}
                            {% if availableVersion.status.value != 'deprecated' %}
                                <li>
                                    <a href="{{ path('doc.show', {
                                        page: page.uri,
                                        version: availableVersion.name
                                    }) }}">{{ availableVersion.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li>
                            <strong>Unmaintained Versions</strong>
                        </li>

                        {% for deprecatedVersion in versions %}
                            {% if deprecatedVersion.status.value == 'deprecated' %}
                                <li>
                                    <a href="{{ path('doc.show', {
                                        page: page.uri,
                                        version: deprecatedVersion.name
                                    }) }}">{{ deprecatedVersion.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </details>
            </li>
            <li style="color: #5d6b89">&gt;</li>
            <li>{{ page.category.title }}</li>
        </ul>
    </nav>

    <div style="display: grid; grid-template-columns: 1fr 3fr;" class="grid">
        <aside>
            <ul style="padding-inline-start: 0">
            {% for nav_page in page.category.pages %}
                <li>
                    {% if page.id.equals(nav_page.id) %}
                        <strong>{{ nav_page.title }}</strong>
                    {% else %}
                        {% if nav_page.isLink %}
                            <a href="{{ nav_page.uri }}" target="_blank">
                                {{ nav_page.title }}
                                <img src="https://intellij-icons.jetbrains.design/icons/AllIcons/expui/ide/externalLink_dark.svg"
                                     width="18" height="18" />
                            </a>
                        {% else %}
                            <a href="{{ path('doc.show', {
                                page: nav_page.uri,
                                version: version.name
                            }) }}">
                                {{ nav_page.title }}
                            </a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </aside>
        <article>
            <h1>{{ page.title }}</h1>
            {{ page.content | raw }}
        </article>
    </div>

{% endblock %}
